/* @layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
} */
@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}


.customBg {
    background-image: url('../../NetflixClone/src/assets/image/homePagebg.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
    
  }
  
  .customBg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.689); /* Adjust the opacity for more or less black */
    z-index: 1;
  }